@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@import 'tailwindcss';

@font-face {
  font-family: 'DOSSaemmul';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  /* font */
  --font-sam: 'DOSSaemmul', sans-serif;
  --font-gal: 'Galmuri9', sans-serif;
  --font-sans: 'Noto Sans KR', sans-serif;

  /* text */
  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-24: 24px;

  /* color */
  --color-profile: #e5e5e5;
  --color-gray-light: #c0c0c0;
  --color-gray: #959595;
  --color-gray-line: #808080;
  --color-gray-dark: #2f2f2f;
  --color-gray-check: #dadada;
  --color-white-soft: #fdfdfd;
  --color-blue-point: #000080;
  --color-highlights: #d9f5fb;
}

body {
  background: #008081;
  color: #2a2a2a;
  font-family: var(--font-gal);
  cursor: url('/icons/cursor3.png'), auto !important;
}

button,
button:hover {
  cursor: url('/icons/cursor3.png'), auto;
}

@layer utilities {
  .border-window {
    @apply border-2 border-b-gray-dark border-r-gray-dark border-t-white-soft border-l-white-soft;
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  animation: typing 3s steps(20, end), blink 0.6s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 13ch;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: gray;
  }
}

@supports selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: auto !important;
    scrollbar-color: auto !important;
  }
}
